.MuiTimelineItem-missingOppositeContent:before{
    flex : 0.5 !important;
}
.mui-timeline-content>*{
    margin : 0.6rem 0;
}
.mui-timeline-content>*:first-child{
    margin-top:0 !important;
}
.mui-timeline-content-elementOne{
    font-size: 1rem;
    color: rgb(var(--primary-text-color));
}
.mui-timeline-content-elementTwo{
    font-size: 1rem;
    background-color: rgb(var(--primary-text-color));
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
    display: block;
    color: rgb(var(--primary-bg));
}
.mui-timeline-content-elementThree{
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
    color: var(--content-text-color);
}
.mui-timeline-content-elementFour{
    font-size: 1rem;
    font-weight: lighter;
    font-style: normal;
    color: var(--content-text-color);
}
.MuiTimelineConnector-root {
    width: 4px !important;
    flex-grow: 1;
    background-color: var(--content-text-color) !important;
}
.mui-timeline-content-elementTwo-div{
  display: flex;
}
.MuiTimelineDot-outlinedGrey {
    box-shadow: none !important;
    border-color: var(--content-text-color) !important;
    background-color: transparent !important;
}
.MuiTimelineDot-root {
    display: flex !important;
    padding: 6px !important;
    align-self: baseline !important;
    margin-top: 8px !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-radius: 50% !important;
    margin-bottom: 8px !important;
}
@media only screen and (max-width:900px)
{
    .MuiTimelineItem-missingOppositeContent:before{
        flex : 0 !important;
      }   
}